<section class="about" id="about">
    <div class="container">
        <div class="about__section">
            <div class="about__top-box">
                <p class="about__top-text small-title" data-aos="fade-up" data-aos-delay="150" data-aos-duration="800">
                    tradition and love
                </p>
                <h2 class="about__top-title big-title" data-aos="fade-up" data-aos-delay="250" data-aos-duration="800">
                    how it’s made?
                </h2>
            </div>

            <div class="about__bottom-box">
                <div class="about__image-box">
                    <picture data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="600">
                        <source srcset="
                                          ./images/about/desktop-cow-1x.png 1x,
                                          ./images/about/desktop-cow-2x.png 2x,
                                          ./images/about/desktop-cow-3x.png 3x
                                        " media="(min-width: 1280px)" />
                        <source srcset="
                                          ./images/about/tablet-cow-1x.png 1x,
                                          ./images/about/tablet-cow-2x.png 2x,
                                          ./images/about/tablet-cow-3x.png 3x
                                        " media="(min-width: 768px)" />
                        <source srcset="
                                          ./images/about/mobile-cow-1x.png 1x,
                                          ./images/about/mobile-cow-2x.png 2x,
                                          ./images/about/mobile-cow-3x.png 3x
                                        " media="(min-width: 320px)" />
                        <img src="./images/about/about-cow.png" alt="Cow with milk" class="about__image"/>
                    </picture>
                </div>
                <div class="about__text-box" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
                    data-aos-duration="600">
                    <div >
                        <p class="about__bottom-text top-text">
                            Commercial ice cream is made with six steps: Milk, cream, milk solids, sugars, modifying agents and flavourings are
                            blended together in stainless steel vats.
                        </p>
                        <p class="about__bottom-text bottom-text">
                            By sourcing many of our ingredients locally instead of importing we are able to keep our carbon footprint low. Much of
                            our local fruit is sourced from as little as 10 miles down the road.

                            <span class="about__text-span">Better for the environment, and more ice cream for our lovely customers. A win-win!</span>
                        </p>
                    </div>
                    <div class="about__box-btn">
                        <a href="#openModal">
                            <button type="button" class="about__bottom-btn btn btn-white btn-animate">
                                Read More
                                <svg class="btn__svg">
                                    <use href="./images/sprite.svg#arrow"></use>
                                </svg>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div id="openModal" class="about__modal">
                <div class="about__modal-dialog">
                    <div class="about__modal-content">
                        <div class="about__modal-header">
                            <p class="about__modal-title">Ice Cream can be healthy?</p>
                            <a href="#close" title="Close" class="about__modal-button">
                                <svg class="about__modal-cross" width=15 height=15>
                                    <use href="./images/sprite.svg#icon-x">
                                </svg>
                            </a>
                        </div>
                        <div class="about__modal-body">
                            <p>Our ice cream and other products made from natural milk, so it's packed with important nutrients like calcium, phosphorus, B vitamins, potassium and vitamin D. Plus, it's an
                            excellent source of protein. Drinking milk and dairy products may prevent osteoporosis and bone fractures and even help
                            you maintain a healthy weight.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="about__bg-image">
        <picture>
            <source srcset="
                      ./images/about/desktop-milk-1x.png 1x,
                      ./images/about/desktop-milk-2x.png 2x,
                      ./images/about/desktop-milk-3x.png 3x
                    " media="(min-width: 1200px)" />
            <source srcset="
                      ./images/about/mobile-milk-1x.png 1x,
                      ./images/about/mobile-milk-2x.png 2x,
                      ./images/about/mobile-milk-3x.png 3x
                    " media="(min-width: 320px)" />
            <img class="about__bottom-img" src="./images/about/about-milk.png" alt="Milk" />
        </picture>
    </div>
</section>