<section class="advantages section">
    <div class="advantages__container container">
        <h2 class="advantages__title hidden">Advantages</h2>
        <ul class="advantages__list list">
            <li class="advantages__item icon-one">
                <h3 class="advantages__subtitle">721</h3>
                <p class="advantages__text">Total milk production worldwide intended to be over 746 million tons.</p>
            </li>
            <li class="advantages__item icon-two">
                <h3 class="advantages__subtitle">16kg</h3>
                <p class="advantages__text">16kg of food should be consumed by a cow on a daily basis</p>
            </li>
            <li class="advantages__item icon-three">
                <h3 class="advantages__subtitle">84</h3>
                <p class="advantages__text">84 thousand people in the US buy ice cream and sherbet daily.
                </p>
            </li>
        </ul>
    </div>
</section>