<section class="contacts" id="contacts">
    <div class="contacts__container">
        <ul class="contacts__head">
            <h2 hidden>Contacts</h2>
            <li class="contacts__card" data-aos="flip-left" data-aos-delay="500" data-aos-duration="2000">
                <p class="contacts__name">cafe</p>
                <ul>
                    <li>
                        <h3 class="contacts__city">Chicago</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card" data-aos="flip-up" data-aos-delay="500" data-aos-duration="2000">
                <p class="contacts__name">foodtruck</p>
                <ul>
                    <li>
                        <h3 class="contacts__city">Los Angeles</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="contacts__card" data-aos="flip-right" data-aos-delay="500" data-aos-duration="2000">
                <p class="contacts__name">cafe</p>
                <ul>
                    <li>
                        <h3 class="contacts__city">New York</h3>
                        <p class="contacts__card-text contacts__card-border">Fusce ut velit laoreet, tempus arcu
                            molestie
                            vulputate</p>
                    </li>
                    <li>
                        <h3 class="contacts__work-day">Monday - Friday</h3>
                        <p class="contacts__work-hours contacts__work-hours-marg">06:00 AM - 10:00 PM</p>
                        <h3 class="contacts__work-day">Saturday - Sunday</h3>
                        <p class="contacts__work-hours contacts__card-border">08:00 AM - 16:00 PM</p>
                    </li>
                    <li class="contacts__address-list">
                        <a href="tel:+61(0)383766284" class="contacts__card-text contacts__card-link">+61(0) 383 766
                            284</a>
                        <a href="mailto:noreply@envato.com"
                            class="contacts__card-text contacts__card-link">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="contacts__button" data-aos="fade-in" data-aos-delay="300" data-aos-duration="1000">
            <div class="about__box-btn">
                <a href="#openContacts-locations">
                    <button type="button" class="about__bottom-btn btn btn-red btn-animate" data-modal-open>
                        Our locations
                    </button>
                </a>
            </div>
            <div class="about__box-btn">
                <a href="#openContacts-franchise">
                    <button type="button" class="about__bottom-btn btn btn-white btn-animate" data-modal-open>
                        Franchise
                    </button>
                </a>
            </div>
        </div>
         <!-- Модалка франшизы -->
        <div id="openContacts-locations" class="modal__locations">
            <div class="about__modal-dialog">
                <div class="about__modal-content about__modal-maps" >
                    <div class="about__modal-header">
                        <p class="about__modal-title">Visit one of our locations</p>
                        <a href="#close" title="Close" class="about__modal-button">
                            <svg class="about__modal-cross" width=15 height=15>
                                <use href="./images/sprite.svg#icon-x">
                            </svg>
                        </a>
                    </div>
                    <div class="about__modal-body about__maps">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.734604755637!2d-74.0001053843443!3d40.723858544826456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e713d43875%3A0xbfd5eb3c3e1bb328!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1sru!2sua!4v1643755388434!5m2!1sru!2sua"
                            width="335" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Модалка локейшенов -->
        <div id="openContacts-franchise" class="modal__franchise">
            <div class="about__modal-dialog">
                <div class="about__modal-content">
                    <div class="about__modal-header">
                        <p class="about__modal-title">Get back and order something!</p>
                        <a href="#close" title="Close" class="about__modal-button">
                            <svg class="about__modal-cross" width=15 height=15>
                                <use href="./images/sprite.svg#icon-x">
                            </svg>
                        </a>
                    </div>
                    <img src="./images/get-back.jpg" alt="" class="dude_picture">
                </div>
            </div>
        </div>

    </div>

</section>

<script>
    (() => {
        const refs = {
            openModalBtn: document.querySelector('[data-modal-open]'),
            closeModalBtn: document.querySelector('[data-modal-close]'),
            modal: document.querySelector('[data-modal]'),
        };

        refs.openModalBtn.addEventListener('click', toggleModal);
        refs.closeModalBtn.addEventListener('click', toggleModal);

        function toggleModal() {
            refs.modal.classList.toggle('is-hidden');
        }
    })();
</script>