<section id="customer-reviews">
  <div class="cusomer__reviews container">
    <div class="single-item">
      <!-- первый член команды -->
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          src="./images/team/maks1.jpg"
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
              <div class="reviews-card__comment">
                <b>Team Lead</b>
                <p>Делал код ревью по ТЗ и так чтоб никто не поссорился</p>
                <p>(подключал JS и анимацию, дизайн слайдера)</p>
              </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Maksym, Kyiv</h4>
      </div>
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          src="./images/team/maksym1.jpg "
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Scram Master</b> 
              <p>Гонял всю команду, Трелло-мастер, помогал с кодом и делал <b>Footer</b>.</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Maksym, Vinnica</h4>
      </div>
      <div class="reviews-card">
        <img
          class="reviews-card__img"
          src="./images/team/julia1.jpg"
          alt="box1"
          width="85"
        />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b> 
              <p>Вдыхала жизнь в раздел <b>How it's made</b> с коровкой.</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Julia, Kyiv</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" 
          src="./images/team/aleks1.jpg " alt="box1" width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b>
              <p>Боролся и поборол <b>Header & hero</b> разделы - готов делать проекты любой сложности.</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Aleksandr, Vinnica</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" 
          src="./images/team/ihor1.jpg" alt="box1" width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b>
              <p>По вопросу контактов и топографии - это к Игорю. Раздел <b>Contacts and locations</b>.</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Igor, Vinnica</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" 
          src="./images/team/olha1.jpg" 
          alt="box1" 
          width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b>
              <p>Сделала раздел <b>Products</b> самой первой *_*. И даже хорошо (hmmm)</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Olga, Kyiv</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" 
          src="./images/team/olena1.jpg "
          alt="box1" 
          width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b>
              <p>Замечательный раздел <b>Advantages</b> и анимашка к нему!</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Olena, Kyiv</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" 
          src="./images/team/lubov1.jpg" 
          alt="box1" 
          width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Developer Pro</b>
              <p>Создатель данной весёлой карусели <b>Slider</b>.</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Lubov, Harkov</h4>
      </div>
      <div class="reviews-card">
        <img class="reviews-card__img" src="./images/team/mentor1.jpg" alt="box1" width="85" />
        <div class="reviews-card__wrapper">
          <svg class="reviews-card__wrapper-icon" width="54" height="40">
            <use href="./images/sprite.svg#icon-quotes"></use>
          </svg>
          <div class="reviews-card__overlay">
            <div class="reviews-card__comment">
              <b>Mentor</b>
              <p>Луч во тьме</p>
            </div>
          </div>
        </div>
        <h4 class="reviews-card__customername">Julia, Vinnica</h4>
      </div>
    </div>
    </div>
    
  </div>
</section>
