<footer class="footer__section section">
  <div class="footer__container container">
    <div class="footer__thumb-titles" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000">
      <p class="footer__double-title">homemade ice cream made</p>
      <h2 class="footer__title">with passion</h2>
    </div>
    <div class="footer__thumb-links" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
      <ul class="footer__socials">
        <li class="footer__social-item">
          <a href="https://github.com/" class="footer__social-link" target="_blank"> <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-git">
            </svg></a>
        </li>
        <li class="footer__social-item">
          <a href="https://telegram.org/" class="footer__social-link" target="_blank"> <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-telegram">
            </svg> </a>
        </li>
        <li class="footer__social-item">
          <a href="https://uk-ua.facebook.com/" class="footer__social-link" target="_blank"> <svg class="footer__icon">
              <use href="./images/sprite.svg#icon-facebook">
            </svg> </a>
        </li>
      </ul>
      <p class="footer__contact">Feel free to contact <a href="tel:+610383766284" class="footer__tel">+61(0)383 766
          284</a></p>
    </div>
  </div>
  <div class="footer__thumb-licence">
    <p class="footer__licence">
      &#169; 2019 - IceCream.
      All Rights Reserved. </p>
  </div>

</footer>