.products__container {
  background-color: $background-white;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products__title-wrapper {
  margin-bottom: 144px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 259px;
  }
}
.products__double-title {
  font-family: Titan One, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.166;

  margin-bottom: 15px;

  color: $text-pink;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.154;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.133;

    letter-spacing: 0.04em;
  }
}

.products__title {
  font-family: Titan One, sans-serif;
  text-transform: uppercase;

  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-align: center;

  color: $text-red;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.145;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.138;
  }
}

.products__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.products__card {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 24px;

  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 280px;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 220px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 335px;
    &:not(:first-child) {
      margin-left: 24px;
    }
  }
  &.products__card--one {
    background-color: $background-one-color;
  }
  &.products__card--two {
    background-color: $background-two-color;
  }
  &.products__card--three {
    background-color: $background-three-color;
  }
  &::before {
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    max-width: 249px;
    height: 252px;

    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 98%;

    margin-top: -113px;
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
      display: flex;
      content: '';
      max-width: 220px;
      height: 226px;
      margin-top: -104px;
      margin-bottom: 30px;

      background-position-y: 90%;
      justify-content: center;
    }
    @media screen and (min-width: 1280px) {
      content: '';
      max-width: 335px;
      height: 335px;
      margin-top: -210px;
      margin-bottom: 38px;
      background-position-y: 90%;
    }
  }
}
.products__card--one::before {
  background-image: url(../images/product-one320@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-one320@2x.png);
    background-size: cover;
  }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-one320@3x.png);
    background-size: cover;
    }

  @media screen and (min-width: 768px) {
    background-image: url(../images/product-one768@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-one768@2x.png);
    background-size: cover;
  }

    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-one768@3x.png);
    background-size: cover;
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/product-one1280@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-one1280@2x.png);
    background-size: cover;
    }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-one1280@3x.png);
    background-size: cover;
    }
  }
}

.products__card--two::before {
  background-image: url(../images/product-two320@1x.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-two320@2x.png);
    background-size: cover;}
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-two320@3x.png);
    background-size: cover;
    }
  @media screen and (min-width: 768px) {
    background-image: url(../images/product-two768@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-two768@2x.png);
    background-size: cover;}
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-two768@3x.png);
    background-size: cover;
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/product-two1280@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-two1280@2x.png);
    background-size: cover;}
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-two1280@3x.png);
    background-size: cover;
    }
  }
}
.products__card--three::before {
  background-image: url(../images/product-three320@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-three320@2x.png);
    background-size: cover;
  }
    
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-three320@3x.png);
    background-size: cover;
    }
  @media screen and (min-width: 768px) {
    background-image: url(../images/product-three768@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-three768@2x.png);
    background-size: cover;
  }
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-three768@3x.png);
    background-size: cover;
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/product-three1280@1x.png);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/product-three1280@2x.png);
    background-size: cover;}
    @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/product-three1280@3x.png);
    background-size: cover;
    }
  }
}
.products__card-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  /*margin-bottom: 30px;
  @media screen and (min-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
  }*/
}

.products__card-subtitle {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $background-white;
  @media screen and (max-width: 1279px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;

    margin-bottom: 32px;
  }
}

.products__card-subtitle::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 6px;
  background-image: url(../images/point@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px;
  @media screen and (min-width: 1280px) {
    margin-top: 32px;
  }
}

.products__card-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0 auto;

  color: $background-white;

  margin-bottom: 30px;
 
  @media screen and (max-width: 767px) {
    /*padding-left: 40px;
    padding-right: 40px;*/
  }
  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
    /*padding-left: 11px;
    padding-right: 11px;*/
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-bottom: 62px;
    /*padding-left: 44px;
    padding-right: 44px;*/
  }
}
.products__card-button {
  border-radius: 50%;
  @media screen and (max-width: 767px) {
    padding-bottom: 41px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 50px;
  }
  &::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../images/arrow-right@1x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
