.header-and-hero {
  margin: auto;
  position: relative;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}

.overflow {
  background-color: $background-pink;
}

.header {
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
  // position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;

  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-top: 37px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 46px;
    padding-right: 115px;
  }

  &__logo-picture {
    width: 199px;
    height: 50px;
  }

  &__menu-closer-button {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 34px;
    top: 23px;
    box-sizing: border-box;
    padding: 0;
    border: none;
    background-color: $background-mobile-menu-color;
  }

  &__menu-closer-icon {
    fill: $background-white;
  }

  &__mob-button-icon {
    margin-left: 15px;
    width: 7px;
    height: 10px;
    fill: $color-button;
  }
}

.header__buttons {
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    z-index: 2;
  }
}

.header__menu-button {
  background-size: contain;
  padding: 0;
  border: none;
  width: 20px;
  height: 12px;
  margin-right: 30px;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.header__nav-container {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__button {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__menu-icon {
  display: block;
  width: 20px;
  height: 12px;
  fill: $color-button;
  background-color: $background-pink;

  @media screen and (min-width: 768px) {
    background-color: $text-pink;
  }
}

.header__mob-button {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  width: 160px;
  height: 44px;
  border-radius: 22px;
  padding: 0;
  border: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $color-button;
  background-color: $background-white;
  transition: background-color $transition-options;

  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  &:hover,
  &:focus {
    background-color: $hover-buttons-gray;
  }
}

.header__mob-button--hidden {
  transition: background-color $transition-options;
  &:hover,
  &:focus {
    background-color: $hover-buttons-gray;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.hero {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 450px;

  @media screen and (min-width: 768px) {
    overflow: visible;
    flex-direction: row;
    justify-content: space-between;
    min-height: 313px;

    padding-left: 34px;
    padding-right: 34px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 97px;
    min-height: 578px;
  }

  &__title-section {
    display: flex;
    flex-direction: column;
    z-index: 3;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &::after {
    content: ' ';
    background-size: contain;
    background-image: url(../images/hero-elipse@1x.png);
    width: 346px;
    height: 346px;

    position: absolute;
    left: 36px;
    bottom: 75px;
    z-index: 1;

    @media screen and (min-width: 768px) {
      width: 322px;
      height: 322px;
      left: 307px;
      bottom: 46px;
      z-index: 0;
    }

    @media screen and (min-width: 1280px) {
      background-image: url(../images/hero-elipse@2x.png);
      width: 538px;
      height: 538px;
      left: 420px;
      bottom: 75px;
    }
  }
}

.hero__title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $background-white;

  @media screen and (min-width: 768px) {
    font-size: 22px;
    line-height: 1.13;

    margin-top: 15px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 38px;
    line-height: 1.13;

    margin-top: 84px;
  }
}

.hero__large-text {
  font-size: 48px;
  line-height: 0.95;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-red;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 0.89;
  }
}

.hero__nav-button {
  font-size: 8px;
  line-height: 1.25;

  border-radius: 12px;
  height: 24px;
  padding: 6px 15px;
  border: none;
  color: $color-button;
  background-color: $background-white;
  transition: background-color $transition-options;

  &:hover,
  &:focus {
    background-color: $hover-buttons-gray;
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
    height: 40px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.hero__nav-button--red {
  color: $background-white;
  background-color: $color-button;
  margin-right: 8px;
  transition: background-color $transition-options;

  &:hover,
  &:focus {
    background-color: $color-hover-button;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 17px;
  }
}

.hero__buttons-list {
  display: flex;
  margin-top: 19px;

  @media screen and (min-width: 1280px) {
    margin-top: 25px;
  }
}

.hero__amount-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 14px;
  }

  @media screen and (min-width: 1280px) {
    display: inline-block;
    margin-top: 73px;
  }
}

.hero__description {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 120px;
    height: 60px;
    margin-left: 110px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    width: 210px;
    height: 120px;
    margin-left: 140px;
    margin-top: 40px;
  }
}

.hero__description-text-box {
  position: relative;
  overflow: hidden;
  height: 35px;

  @media screen and (min-width: 1280px) {
    height: 74px;
  }
}

.hero__description-text {
  position: absolute;
  left: 0;
  top: 100%;

  transition: transform 2500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hero__description-button {
  z-index: 2;
  position: relative;
  border: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background-color: $background-white;
  border-radius: 50%;

  transition: transform $transition-options;

  &:focus ~ .hero__description-text-box .hero__description-text {
    transform: translateY(-100%);
  }

  &:focus {
    transform: rotate(-90deg);
  }

  @media screen and (min-width: 1280px) {
    width: 26px;
    height: 26px;
    margin-top: 20px;

    &:focus ~ .hero__description-text {
      transform: translateY(-100%);
    }
  }
}

.hero__description-icon {
  display: block;
  max-width: 8px;
  max-height: 8px;
  fill: $color-button;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 1280px) {
    max-width: 12px;
    max-height: 12px;
  }
}

.hero__picture {
  position: absolute;
}

.hero__picture--icecream {
  max-width: 171px;
  max-height: 410px;
  left: 117px;
  bottom: 0;
  z-index: 2;

  @media screen and (min-width: 768px) {
    max-width: 143px;
    max-height: 336px;
    left: 370px;
    bottom: 2px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 236px;
    max-height: 557px;
    left: 539px;
  }
}

.hero__picture--bio-eco {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    max-width: 124px;
    max-height: 126px;

    left: 34px;
    bottom: 28px;
    z-index: 2;
  }

  @media screen and (min-width: 1280px) {
    max-width: 188px;
    max-height: 191px;
    left: 77px;
    bottom: 45px;
  }
}

.hero__picture--tasty {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    max-width: 168px;
    max-height: 133px;

    right: 34px;
    bottom: 0;
    z-index: 2;
  }

  @media screen and (min-width: 1280px) {
    max-width: 293px;
    max-height: 232px;
    right: 70px;
  }
}

.hero__number {
  font-family: Titan One;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $text-red;

  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }
}

.hero__text,
.hero__description-text {
  font-size: 8px;
  line-height: 1;

  color: $background-white;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.29;
  }
}

.hero__amount-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;

  padding-right: 10px;
  margin-bottom: 14px;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    margin-bottom: 18px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: ' ';
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    position: absolute;
    right: 2px;
    top: -1px;
    z-index: -1;

    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;

      right: 0px;
      top: -4px;
    }
  }
}

.nav-list {
  @media screen and (max-width: 1279px) {
    margin-top: 32px;
  }
}

.nav-list__item {
  @media screen and (max-width: 1279px) {
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    border-top: 1px solid $mobile-menu-border-color;
    &:last-child {
      border-bottom: 1px solid $mobile-menu-border-color;
    }
  }
  @media screen and (min-width: 1280px) {
    margin-right: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    z-index: 2;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-list__link {
  color: $background-white;
  transition: color $transition-options;

  &:hover,
  &:focus {
    color: $text-red;
  }
}

@media screen and (max-width: 1279px) {
  .header__mob-menu {
    z-index: 4;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    min-height: 100vh;
    background-color: $background-mobile-menu-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
      width: 250px;
      left: -500px;
    }

    @media screen and (min-width: 768px) {
      width: 250px;
      left: -500px;
    }
  }

  .mob-is-open {
    @media screen and (max-width: 767px) {
      transform: translateX(200%);
    }

    @media screen and (min-width: 768px) {
      transform: translateX(200%);
    }
  }
}

@media screen and (min-width: 1280px) {
  .header__menu-closer-button {
    display: none;
  }
  .header__mob-button {
    display: none;
  }
  .header__menu-button {
    display: none;
  }

  .header__mob-button--hidden {
    display: flex;
  }

  .nav-list {
    display: flex;
  }
}

// МОДАЛЬНОЕ ОКНО

.backdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  padding-left: 15px;
  padding-right: 15px;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.header-modal {
  z-index: 6;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: url(../images/header+hero/modal-bg.jpg);
  background-size: cover;
  background-position: 50% 100%;
  max-height: 609px;
  max-height: 100vh;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;

  @media screen and (max-width: 479px) {
    width: 280px;
  }

  @media screen and (min-width: 480px) and (max-width: 1279px) {
    width: 410px;
  }

  @media screen and (max-width: 1279px) {
    overflow-y: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 528px;
    height: 581px;
  }

  &__title {
    font-family: Titan One;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.5;
    color: $background-mobile-menu-color;

    margin-bottom: 10px;

    @media screen and (min-width: 1280px) {
      line-height: 1.5;
    }
  }

  &__large-text {
    font-size: 30px;
    color: $text-red;
  }

  &__input-container {
    position: relative;
    margin-bottom: 14px;
    margin-top: 4px;
  }

  &__form {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
  }

  &__action-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    border-radius: 20px;
    background-color: $text-red;
    color: $background-white;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-modal__label {
  position: absolute;
  left: 43px;
  top: 12px;
  font-size: 15px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $background-mobile-menu-color;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-modal__input:focus ~ & {
    transform: translateY(-30px);
    color: $text-red;
  }
}

.header-modal__ice-cream-icon {
  margin-left: 10px;
  color: $background-white;
}

.header-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 18px;
  height: 18px;
  fill: $background-mobile-menu-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-modal__input:focus + & {
    fill: $text-red;
  }
}

.header-modal__input {
  border: 3px solid $background-mobile-menu-color;
  border-radius: 8px;
  padding: 10px 42px;
  width: 100%;
  outline: none;

  font-size: 15px;
  line-height: 1.12;
  letter-spacing: 0.01em;
  background-color: $background-white;
  color: $text-red;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 6px 8px 7px -1px rgba(174, 23, 163, 0.2);

  &:focus {
    border-color: $color-button;
  }
}

.header-modal__product {
  display: inline-block;
  color: $text-red;
  font-weight: 700;
  font-size: 20px;
  margin-right: 10px;
}

.header-modal__select {
  font-size: 20px;
  color: $background-mobile-menu-color;
  background-color: $background-white;
  border-radius: 8px;
  border: 3px solid $background-mobile-menu-color;

  &:focus {
    border-color: $text-red;
    color: $text-red;
  }
}

.header-modal__option {
  font-size: 15px;
  color: $text-red;
  background-color: $background-white;
}

.header-modal__products-container {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.conditions {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &__text {
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.16;
    color: $text-red;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.71;
    }
  }
}

.conditions__check {
  fill: $text-red;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 14%;
  left: 40px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .conditions__checkbox:checked ~ & {
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    top: 18%;
    left: 41px;
  }

  @media screen and (min-width: 1280px) {
    left: 80px;
    top: 14%;
  }
}

.conditions__notcheck {
  fill: $text-red;
  width: 16px;
  height: 15px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .conditions__checkbox:checked ~ .conditions__no-wrap & {
    opacity: 0;
  }
}

.conditions__link {
  margin-top: 10px;
  display: flex;
  margin-left: 20px;
  color: rgb(27, 6, 141);
  justify-content: center;
  font-size: 14px;
  line-height: 1.16;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: rgb(32, 3, 99);
  }

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.closer-button__image {
  position: absolute;
  width: 18px;
  height: 18px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: $background-mobile-menu-color;

  .closer-button:hover &,
  .closer-button:focus & {
    fill: $text-red;
    border-color: $text-red;
  }
}

.closer-button {
  padding: 0;

  position: absolute;
  top: 8px;
  right: 8px;

  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid $background-mobile-menu-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $hover-buttons-gray;
    border-color: $text-red;
  }
}

// Новый вид кнопки и анимации
.header__mob-button {
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  &::before {
    content: '';
    border-radius: 22px;
    width: 160px;
    height: 44px;
    border: 4px solid $text-red;
    box-shadow: 0 0 10px $text-red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
  }
  &:hover,
  &:focus {
    color: $text-red;
    transform: translateY(-6px);
  }
}

.header__mob-button:hover::before,
.header__mob-button:focus::before {
  opacity: 1;
}

.header__mob-button::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 6px solid $text-red;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 3s infinite;
}

.header__mob-button:hover::after,
.header__mob-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.btn-animated {
  animation: moveInBottom 2s ease-out;
}

// Две кнопки в хэддере
